.main {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  text-align: center;

}

.main>li {
  width: 30%;
  list-style: none;
}

.icon {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.icon>img {
  width: max-content;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 400px; */
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.592);
  padding: 50px;
}


.label {
  text-transform: uppercase;
}

.btn {
  line-height: 50px;
  width: 200px;
  margin: auto;
  border: none;
  text-transform: uppercase;
  color: #fff;
}

.main>li:nth-of-type(1) .btn {
  background-color: #cd7f32;
}

.main>li:nth-of-type(2) .btn {
  background-color: silver;
}

.main>li:nth-of-type(3) .btn {
  background-color: gold;
}

.main>li:nth-of-type(1) .label {
  color: #cd7f32;
}

.main>li:nth-of-type(2) .label {
  color: silver;
}

.main>li:nth-of-type(3) .label {
  color: gold;
}


.abz {
  color: rgba(128, 128, 128, 0.639);
  margin: 20px;
}

.price {
  font-size: 50px;
  margin: 20px;
  color: rgba(128, 128, 128, 0.639);

}
